@import url('https://fonts.googleapis.com/css2?family=Actor &family=Adamina&family=Poppins&display=swap');


    /* font-family: 'Actor', sans-serif;
    font-family: 'Adamina', serif;
    font-family: 'Poppins', sans-serif; */
*{
   
   padding: 0;
   margin: 0;
}

ul{
    list-style-type: none;
}
.head{
    background-image: url("../Images/moving\ 1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;

}
nav{
    display: flex;
    justify-content: center;
}
nav > ul{

    justify-content: space-around;
    
}
nav > ul > li{
    margin: 15px;
    display: inline-block;
    padding: 10px;
    color: rgba(247, 247, 247, 0.938);
}
#logIn{
    color: black;
    background-color: yellow;
}
#signUp{
    color: yellow;
    background-color: black;
}
.head > h1{
    color: yellow;
    margin-left: 30px;
    font-weight: lighter;
    font-size: 2em;
    font-family: 'Adamina' sans-serif;
}
.head > p{
    margin-top: 20px;
    color: white;
    margin-left: 30px;
    font-size: 2em;
    font-family: 'Poppins' sans-serif;
    
}
.center{
    height: 100vh;
    width: 100vw;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    
}
.centtxt{
    width: 50vw;
    height: 400px;
    padding: 10px;
    position: relative;
    transform: translateY(50%);
    font-size: 2em;
}
.centtxt > h1{
    font-weight: lighter;
    font-size: 2em;
    
    margin-bottom: 10px;
}
.centtxt > button{
    margin-top: 20px;
    padding: 20px;
    color: yellow;
    background-color: black;
    border-top-right-radius: 15px;
}

.center img{
    
    margin-right: 20px;
}
.gradient{
    width:110px;
    height:3px;
    background-image: linear-gradient(to right, yellow , black);
}

.movers{
    height: 200vh;
    width: 100vw;
    margin-top: 30px;
    background-color: rgba(167, 161, 161, 0.708);
    display: flex;
    flex-direction: column;
    
    

    
}
.gradient2{
    margin-left: 5%;
    margin-top: 5%;
    width:190px;
    height:3px;
    background-image: linear-gradient(to right, yellow , black);
}
.movers h1{
    font-weight: lighter;
    font-size: 4em;
    margin-left: 5%;
    margin-bottom: 5%;
    
}

.container{
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    margin-top: 50px;
    padding: 30px;
    
}
.card{
    background-color: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;

}
.card p{
    position: absolute;
    bottom: 15%;
    margin-left: 7%;
    font-size: 2em;
}
.card img{
    width: 100%;
    
    
}
.bottomdivs{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 0px;
    width: 100%;
}   
.bottomdivs > div{
display: flex;
justify-content: center;
align-items: center;
} 
    

#bottomicons{
    border-top: 2px solid black;
    padding: 20px;
}
.mid{
    border-left:2px solid black ;
    border-right: 2px solid black;
}
i{
    margin-right: 0.7rem;
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.foot{
    height: 90vh;
    background-image: linear-gradient(to right, black , #1f1401ef);
    color: white;
}
.foot h2{
    font-size: 2em;
    color: white;
    font-weight: lighter;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
}
span{
    color: #FFAC12;
}
.gradient3{
    border: solid white;
    border-width: thin;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.2;
    
}
.footContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    height: 50vh;
    font-size: 2em;
    
}
ol{
    list-style-type: none;
}
.S-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}
.S-icons i{
    color: white;
    margin: 1.0em;
}

.Q-links ol{
    line-height: 2.5em;
}

.O-Movers ol{
    line-height: 2.5em;
}

.O-services ol{
    line-height: 2.5em;
}
#lhead{
    font-weight: lighter;
    font-style: italic;
    font-size: 1.5em;
}
    
         /*PAGE 2 CSS*/

.header{
    height: 28vh;
    background-image: linear-gradient(to right, black , #1f1401ef);
    color: white;
}
.navlinks{
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
    
    
}
.navlinks > ol > li{
    display: inline-block;
    justify-content:space-around;
    padding: 2em;
    margin-top: 3%;
    
}

#S-button{
    background-color: #FFAC12;
    border-top-right-radius: 10%;
    color: black;
    margin-left:20px ;
    padding: 15px;
}
.gradient4{
    border: solid white;
    border-width: thin;
    opacity: 0.2;
}
.h-texts{
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins' sans-serif;
}
.text-left{
    display: inline-block;
}
.text-right{
    display: inline-block;
}

     /*Center Section*/

.center2{
    height: 270vh;
    background-color: rgba(90, 88, 88, 0.096);
    margin-right: 10%;
    margin-left: 10%;
}
.Upper-cent{
    display: flex;
    justify-content: space-between;
    height: 60vh;
    margin-top: 3%;


}
.Up-img img{
    display: inline-block;
    height: 60vh;
    width: 40vw;
}
.form-main{
    display: inline-block;
    width: 20vw;
    color: black;
}
/*Form CSS*/

.form-main{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    
    
    
}
.form-main h2{
    width: 99%;
    border: solid black;
    margin-right: 0;
    height: 4em;
    margin-top: 5%;
    border-radius: 15px;
    margin-bottom: 2%;
    background-color: rgba(90, 88, 88, 0.096);
    font-weight: lighter;
    
}
.form-main h2 p{
    font-size: large;
    color: #FFAC12;
    font-weight: lighter;
}

.form-main input{
    width: 99%;
    height: 4em;
    margin-bottom: 2%;
    border-radius: 15px;
}
#d-height{
    height: 5em;
    margin-bottom: 3%;
}
.form-main button{
    height: 5em;
    width: 99%;
    background-color: black;
    color: white;
    border-top-right-radius: 15px;
    font-size: 1.2em;
}
form-main button:hover{
    color: #FFAC12;
}
/*center3*/

.center3{
    
    height: 10vh;
    width: 40vw;
    
    display: flex;
    justify-content: space-between;

}
.smallimg{
    margin-top: 3%;
    height: 10vh;
}
.smallimg img{
    
    height: 10vh;

}

/*center4 Details*/

.center4{
    height: 15vh;
    width: 40vw;
    background-color: white;
    border-radius: 12px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.center4 h2{
    font-size: 2em;
    margin-left: 3%;
    font-weight: lighter;
    margin-top: 3%;
}
.bot-divs{
    width: 40vw;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    bottom: 0px;
    
}
.bot-divs > div{
    display: inline-block;
    border-top: 1px solid rgba(0, 0, 0, 0.171);
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

.bot-icons i{
    font-size: 2em;
    color: rgb(0, 0, 0);
}
.mid2{
    border-left:1px solid rgba(0, 0, 0, 0.150);
    border-right:1px solid rgba(0, 0, 0, 0.150);
}
/*center5*/

.center5{
    height: 40vh;
    width: 40vw;
    background-color: white;
    border-radius: 15px;
    margin-top: 3%;
    
}
.center5 > h2{
    font-size: 2em;
    margin-left: 3%;
    font-weight: lighter;
    padding-top: 2%;
    
}
.grad5{
    border-top:1px solid rgba(0, 0, 0, 0.150);
    margin-top: 5%;
}
.center5 p{
    padding-top: 2%;
    margin-left: 3%;
}
/*center*/
.center6{
    height: 38vh;
    width: 40vw;
    background-color: white;
    border-radius: 15px;
    margin-top: 3%;
}
.center6 > h2{
    font-size: 2em;
    margin-left: 3%;
    font-weight: lighter;
    padding-top: 2%;
}
.m-feature{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sub-feature{
    margin-right: 10%;
    padding: 3%;
}
.sub-feature > ol > li{
    padding: 10px;
}
/*center7*/
.center7{
    height: 60vh;
    width: 100%;
    
    border-radius: 15px;
    margin-top: 3%
}
.center7 h1{
    font-weight: lighter;
    font-size: 4em;
    margin-left: 5%;
    margin-bottom: 3%;

}

.container2{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
    
    margin-left: 5%;
    
}
.card2{
    background-color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    

}
.card2 p{
    position: absolute;
    bottom: 15%;
    margin-left: 5%;
    font-size: 2em;
}
.card2 img{
    width: 18vw;
}
.bottomdivs2{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 0px;
    width: 100%;
}   
.bottomdivs2 > div{
display: flex;
justify-content: center;
align-items: center;
} 
#bottomicons2{
    border-top: 1px solid rgba(0, 0, 0, 0.150);
    padding: 10px;
}
#overflo{
    height: 30vh;
}
.mid2{
    border-left:1px solid rgba(0, 0, 0, 0.150) ;
    border-right: 1px solid rgba(0, 0, 0, 0.150);
}
i{
    margin-right: 0.7rem;
    font-size: 2em;
    color: rgb(0, 0, 0);
}
/*Add scroll bar in chrome*/
.container2::-webkit-scrollbar{
    display: none;
}
/*Add scroll bar in firefox*/
.container2{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/*Footer2*/

.foot2{
    height: 90vh;
    background-image: linear-gradient(to right, black , #1f1401ef);
    color: white;
}
.foot2 h2{
    font-size: 2em;
    color: white;
    font-weight: lighter;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
}
span{
    color: #FFAC12;
}
.foot2 h3{
    color:black;
    float: right;
    padding: 20px;
    background-color: #FFAC12;
    border-top-right-radius: 10px;
    
}
.gradient3{
    border: solid white;
    border-width: thin;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.2;
    
}

.footContainer2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    height: 70vh;
    font-size: 2em;
    
}
ol{
    list-style-type: none;
}
.S-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}
.S-icons i{
    color: white;
    margin: 1.0em;
}

.Q-links ol{
    line-height: 2.5em;
}

.O-Movers ol{
    line-height: 2.5em;
}

.O-services ol{
    line-height: 2.5em;
}
#lhead{
    font-weight: lighter;
    font-style: italic;
    font-size: 1.5em;
}