*{
   
   padding: 0;
   margin: 0;
}

ul{
    list-style-type: none;
}
.head{
    background-image: url("/Assets/Images/moving\ 1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;

}
nav{
    display: flex;
    justify-content: center;
}
nav > ul{

    justify-content: space-around;
    
}
nav > ul > li{
    margin: 15px;
    display: inline-block;
    padding: 10px;
    color: rgba(247, 247, 247, 0.938);
}
#logIn{
    color: black;
    background-color: yellow;
}
#signUp{
    color: yellow;
    background-color: black;
}
.head > h1{
    color: yellow;
    margin-left: 30px;
    font-weight: lighter;
    font-size: 2em;
}
.head > p{
    margin-top: 20px;
    color: white;
    margin-left: 30px;
    font-size: 2em;
    
}
.center{
    height: 100vh;
    width: 100vw;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    
}
.centtxt{
    width: 50vw;
    height: 400px;
    padding: 10px;
    position: relative;
    transform: translateY(50%);
    font-size: 2em;
}
.centtxt > h1{
    font-weight: lighter;
    font-size: 2em;
    
    margin-bottom: 10px;
}
.centtxt > button{
    margin-top: 20px;
    padding: 20px;
    color: yellow;
    background-color: black;
    border-top-right-radius: 15px;
}

.center img{
    
    margin-right: 20px;
}
.gradient{
    width:110px;
    height:3px;
    background-image: linear-gradient(to right, yellow , black);
}

.movers{
    height: 200vh;
    width: 100vw;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(167, 161, 161, 0.708);
    display: flex;
    flex-direction: column;
    
    

    
}
.gradient2{
    margin-left: 5%;
    margin-top: 5%;
    width:190px;
    height:3px;
    background-image: linear-gradient(to right, yellow , black);
}
.movers h1{
    font-weight: lighter;
    font-size: 4em;
    margin-left: 5%;
    margin-bottom: 5%;
    
}

.container{
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    margin-top: 50px;
    padding: 30px;
    
}
.card{
    background-color: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;

}
.card p{
    position: absolute;
    bottom: 15%;
    margin-left: 7%;
    font-size: 2em;
}
.card img{
    width: 100%;
    
    
}
.bottomdivs{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 0px;
    width: 100%;
}   
.bottomdivs > div{
display: flex;
justify-content: center;
align-items: center;
} 
    

#bottomicons{
    border-top: 2px solid black;
    padding: 20px;
}
.mid{
    border-left:2px solid black ;
    border-right: 2px solid black;
}
i{
    margin-right: 0.7rem;
    font-size: 2em;
    color: rgb(0, 0, 0);
}